<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A11y-training</title>
    <link rel="stylesheet" href="style/css.css" />
    <script id="oada_ma_toolbar_script">
      var oada_ma_license_key = 'KfWgamDsJwAxea3krxDfVmVoBKSRvKXMKA7mVOwEg589NHjuwx'
      var oada_ma_license_url =
        'https://api.maxaccess.io/scripts/toolbar/KfWgamDsJwAxea3krxDfVmVoBKSRvKXMKA7mVOwEg589NHjuwx'
      ;(function (s, o, g) {
        ;(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0])
        a.src = g
        a.setAttribute('async', '')
        a.setAttribute('type', 'text/javascript')
        a.setAttribute('crossorigin', 'anonymous')
        m.parentNode.insertBefore(a, m)
      })(document, 'script', oada_ma_license_url + oada_ma_license_key)
    </script>
  </head>
  <body>
    <div role="navigation" id="skipLink"><a href="#main">Skip to main content</a></div>

    <nav role="navigation">
      <div class="logo">
        <a href="#">
          <img id="personal" src="images/logo.png" alt="Logo de la empresa" width="40" />
        </a>
      </div>
      <div class="navigation__menu">
        <ul role="list">
          <li role="listitem"><a href="index.html">Home</a></li>
          <li role="listitem"><a href="a11ycasts.html">a11yCasts</a></li>
          <li role="listitem"><a href="iframe.html">iframe</a></li>
          <li role="listitem"><a href="chat.html">Chat</a></li>
        </ul>

        <ul>
          <li><a href="index.html">Home2</a></li>
          <li><a href="a11ycasts.html">a11yCasts2</a></li>
          <li><a href="#3">Services2</a></li>
          <li><a href="#4">Contact2</a></li>
        </ul>
      </div>
    </nav>

    <header role="banner" class="header">
      <h1>ARIA ( Accessible Rich Internet Applications ):</h1>
      <p>
        A set of special attributes for accessibility that can be added to any tag, but especially adapted to
        HTML.
      </p>
      <p>
        It was created by the W3C, they created it so that we can communicate special changes in our
        applications.
      </p>
    </header>

    <main role="none" id="main">
      <section id="section-one">
        <div class="section-one_content">
          <div class="title">
            <h2>Welcome Section one</h2>
            <p>This is an example section with button.</p>
          </div>

          <h3>arial label</h3>
          <label for="button">personal send</label>
          <button class="button" tabindex="1">Send</button>
          <div role="heading" aria-level="3" class="heading">aria expanded</div>
          <button
            class="button expandedButton"
            onclick="handleExpandedButton()"
            aria-controls="divExpand"
            aria-expanded="false"
            tabindex="-1"
          >
            Menu
          </button>
          <div style="display: none" id="divExpand">aria-expanded button activated</div>

          <h3>aria pressed</h3>
          <div class="button toggleButton" role="button" aria-pressed="true" tabindex="0">On</div>

          <br />
          <a href="#" class="button_a" role="button" tabindex="2">On</a>
        </div>

        <aside role="complement" class="section-one_aside">
          <div class="title">
            <h2 role="heading" aria-level="2">Aside section one</h2>
            <p>An accessible name</p>
          </div>
          <div class="container__img">
            <a href="#a"><img src="tequila.png" alt="Chaos tequila" />"this is a tequila image"</a>
          </div>
          <div class="div__image" role="img" aria-label="Accessibility Image"></div>

          <div class="container__svg">
            <svg
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="16px"
              height="16px"
            >
              <path
                d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"
              />
            </svg>
          </div>
        </aside>
      </section>

      <section id="section-two">
        <div class="section-two_content">
          <!-- <button ... aria-expanded="false" aria-controls="currencyList">Your Card Currency</button> -->
          <!-- <ul id="currencyList" class="dropdown-menu" role="list"> -->
          <!-- Elementos de la lista -->
          <!-- </ul> -->

          <!-- <form
            role="form"
            method="post"
            action="javascript:void(0)"
            id="locatorForm"
            class="form-horizontal ng-dirty ng-valid-parse ng-valid ng-valid-required"
            ng-submit="saveMapInput()"
          >
            ...
            <input
              type="text"
              id="searchforATM"
              aria-label="search for ATM"
              class="input-search form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"
              name="searchforATM"
              value=""
              ng-model="addressSearch"
              placeholder="Enter the address to search nearest locations"
              required=""
            />

            ...
          </form> -->
          <!-- 
          <form
            role="form"
            method="post"
            action="javascript:void(0)"
            id="locatorForm"
            class="form-horizontal ng-dirty ng-valid-parse ng-valid ng-valid-required"
            ng-submit="saveMapInput()"
            aria-label="locator form"
          >
            ...
            <label for="searchforATM" class="dxp-sr-only"
              >Enter the address to search nearest locations</label
            >
            <input
              type="text"
              id="searchforATM"
              aria-label="search for ATM"
              class="input-search form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"
              name="searchforATM"
              value=""
              ng-model="addressSearch"
              placeholder="Enter the address to search nearest locations"
              required=""
            />

            ...
          </form> -->

          <!-- *********************************************************** -->

          <h2>Welcome Section two</h2>
          <p>This is an example section with "Label" and "Name".</p>
          <br />
          <div><img src="images/nx.png" alt="Next" /></div>
          <br />
          <form class="form">
            <div>
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" name="firstName" autocomplete="given-name" />
            </div>
            <div>
              <label for="middleNames">Middle Names</label>
              <input type="text" id="middleNames" name="middleName" autocomplete="additional-nam" />
            </div>
            <div>
              <label for="lastName">Last name/surname</label>
              <input type="text" id="lastName" name="lastName" autocomplete="family-name" />
            </div>
          </form>
          <br />
          <br />
          <label for="fullName">Full Name</label>
          <input type="text" id="fullName" name="fullName" autocomplete="name" />

          <br />
          <br />
          <div class="samp">
            <table>
              <tbody>
                <tr>
                  <th id="namelabel" scope="col">Name</th>
                  <th id="agelabel" scope="col">Age</th>
                  <th id="weightlabel" scope="col">Weight</th>
                </tr>
                <tr>
                  <td><input type="text" name="name1" aria-labelledby="namelabel" /></td>
                  <td><input type="text" size="3" name="age1" aria-labelledby="agelabel" /></td>
                  <td><input type="text" size="4" name="weight1" aria-labelledby="weightlabel" /></td>
                </tr>
                <tr>
                  <td><input type="text" name="name2" aria-labelledby="namelabel" /></td>
                  <td><input type="text" size="3" name="age2" aria-labelledby="agelabel" /></td>
                  <td><input type="text" size="4" name="weight2" aria-labelledby="weightlabel" /></td>
                </tr>
                <tr>
                  <td><input type="text" name="name2" aria-labelledby="namelabel" /></td>
                  <td><input type="text" size="3" name="age2" aria-labelledby="agelabel" /></td>
                  <td><input type="text" size="4" name="weight2" aria-labelledby="weightlabel" /></td>
                </tr>
              </tbody>
            </table>
          </div>

          <br />

          <div>
            <button id="submitBtn">Send</button>
            <p id="submitInfo">Make sure you have filled out all fields before submitting.</p>
            <label for="info">Email</label>
            <input type="text" id="info" aria-describedby="submitInfo" autocomplete="emai" />
          </div>

          <div class="heading-wrapper">
            <h1 class="dxp-mb-0 dxp-mt-4 h2">
              <span aria-hidden="true">
                <img src="/ruta/a/la/imagen.png" alt="" class="dxp-img-fluid" style="max-width: 180px" />
              </span>
              Mastercard Digital Doors®
            </h1>
          </div>

          <br />
          <div class="samp">
            <table>
              <tbody>
                <tr>
                  <th scope="col">Name</th>
                  <th id="officenum" scope="col">Office Number</th>
                  <th id="phonelabel" scope="col">Phone</th>
                </tr>
                <tr>
                  <th id="cyndi" scope="row">Cyndi</th>
                  <td><input type="text" size="4" name="office1" aria-labelledby="cyndi officenum" /></td>
                  <td><input type="text" size="12" name="phone1" aria-labelledby="cyndi phonelabel" /></td>
                </tr>
                <tr>
                  <th id="jared" scope="row">Jared</th>
                  <td><input type="text" size="4" name="office2" aria-labelledby="jared officenum" /></td>
                  <td><input type="text" size="12" name="phone2" aria-labelledby="jared phonelabel" /></td>
                </tr>
                <tr>
                  <th id="jon" scope="row">Jonathan</th>
                  <td><input type="text" size="4" name="office3" aria-labelledby="jon officenum" /></td>
                  <td><input type="text" size="12" name="phone3" aria-labelledby="jon phonelabel" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <aside class="section-two_aside">
          <div class="title">
            <h2>Aside section two</h2>
            <p>An accessible name</p>
          </div>

          <div class="textarea-container">
            <textarea id="myTextarea" maxlength="100" aria-describedby="charCount"></textarea>
            <p id="charCount" aria-live="polite">100 characters remaining.</p>
          </div>

          <ul class="dropdown-menu" role="list">
            <li class="dontClose" role="listitem">
              <div class="input-group input-group-sm search-control input-container">
                <span class="dxp-icon dxp-icon-small dxp-icon-search search-icon"></span>
                <input
                  type="text"
                  id="cardCurr"
                  name="cardCurr"
                  tabindex="0"
                  class="dxp-form-control search-input ng-pristine ng-valid ng-empty ng-touched"
                  ng-model="currencySearch"
                  ng-focus="validateDropdown('card', true)"
                  ng-blur="validateDropdown('card')"
                  placeholder="Search"
                  aria-label="Dropdown"
                />
              </div>
            </li>
            <li
              ng-repeat="cCountry in countryListObj | filter:currencySearch: startsWith"
              ng-init="$index == countryListObj.length-1 &amp;&amp; refreshDropdown()"
              role="listitem"
              class="ng-scope"
            >
              <a
                tabindex="0"
                ng-click="dropdownSelectItem(cCountry,'cardCurrency')"
                aria-label="To"
                href="javascript:void(0)"
                ng-focus="validateDropdown('card', true)"
                class="ng-binding"
              >
                AFGHANISTAN AFGHANI - AFN
              </a>
            </li>
            <li
              ng-repeat="cCountry in countryListObj | filter:currencySearch: startsWith"
              ng-init="$index == countryListObj.length-1 &amp;&amp; refreshDropdown()"
              role="listitem"
              class="ng-scope"
            >
              <a
                tabindex="0"
                ng-click="dropdownSelectItem(cCountry,'cardCurrency')"
                aria-label="To"
                href="javascript:void(0)"
                ng-focus="validateDropdown('card', true)"
                class="ng-binding"
              >
                ALBANIAN LEK - ALL
              </a>
            </li>
            <li
              ng-repeat="cCountry in countryListObj | filter:currencySearch: startsWith"
              ng-init="$index == countryListObj.length-1 &amp;&amp; refreshDropdown()"
              role="listitem"
              class="ng-scope"
            >
              <a
                tabindex="0"
                ng-click="dropdownSelectItem(cCountry,'cardCurrency')"
                aria-label="To"
                href="javascript:void(0)"
                ng-focus="validateDropdown('card', true)"
                class="ng-binding"
              >
                ALGERIAN DINAR - DZD
              </a>
            </li>
            <p class="sr-only" tabindex="0" id="noResultsFound" aria-label="No results found"></p>
          </ul>

          <div
            id="bank-dropdown"
            class="bank-selector-dropdown"
            role="application"
            aria-label="Dropdown list for banks"
          >
            <label for="searchAll">Select your financial institution</label>
            <select ...>
              <option value="" class="">Filter by Bank</option>
              ...
            </select>
          </div>

          <div role="grid">
            <div role="row">
              <div role="gridcell" aria-selected="true">Celda seleccionada</div>
              <div role="gridcell">Otra celda</div>
            </div>
          </div>

          <button
            class="ytp-play-button ytp-button"
            aria-keyshortcuts="k"
            data-title-no-tooltip="Play"
            aria-label="Play keyboard shortcut k"
            title="Play (k)"
          >
            ...
          </button>

          <button
            class="ytp-play-button ytp-button"
            aria-keyshortcuts="k"
            data-title-no-tooltip="Pause"
            aria-label="Pause keyboard shortcut k"
            title="Pause (k)"
          >
            ...
          </button>

          <button
            class="ytp-play-button ytp-button"
            aria-keyshortcuts="k"
            data-title-no-tooltip="Replay"
            aria-label="Pause keyboard shortcut k"
            title="Replay"
          >
            ...
          </button>

          <div class="dropdown-block select-wrapper open">
            <button
              id="cardCurrency"
              name="cardCurrency"
              class="dropdown-toggle dropdown-caret ng-binding"
              ng-class="{'has-error' : !cCurr }"
              ng-blur="validateDropdown('card')"
              ng-enter="validateDropdown('card')"
              data-toggle="dropdown"
              tabindex="0"
              title="Your Card Currency"
              aria-labelledby="cardcurrency"
            >
              Your Card Currency
            </button>
            <ul class="dropdown-menu" role="listbox">
              <li class="dontClose" role="option">
                <div class="input-group input-group-sm search-control input-container">
                  <span class="dxp-icon dxp-icon-small dxp-icon-search search-icon"></span>
                  <input
                    type="text"
                    id="cardCurr"
                    name="cardCurr"
                    tabindex="0"
                    placeholder="Search"
                    aria-label="Dropdown"
                  />
                </div>
              </li>
              <li role="option" class="ng-scope" tabindex="0">AFN</li>
              <li role="option" class="ng-scope" tabindex="0">ALL</li>
              <li role="option" aria-labelledby="noResultsFound" tabindex="0">No results found</li>
            </ul>
          </div>
        </aside>
      </section>
    </main>

    <footer class="footer">
      <h2>Footer</h2>
      <div class="footer__menu" role="list">
        <div role="listitem"><a href="index.html">Home3</a></div>
        <div role="listitem"><a href="a11ycasts.html">a11yCasts3</a></div>
        <div role="listitem"><a href="#3">Services3</a></div>
        <div role="listitem"><a href="#4">Contact3</a></div>
      </div>
    </footer>

    <script type="text/javascript" src="script/script.js"></script>
    <script type="text/javascript" src="script/textarea-character-counter.js"></script>
    <!-- <script type="text/javascript" src="script/tabindex.js"></script> -->
    <!-- <script type="text/javascript" src="script/autocomplete-attribute-values.js"></script> -->
    <!-- <script type="text/javascript" src="script/landMarks.js"></script> -->
    <!-- <script type="text/javascript" src="script/aria-roles.js"></script> -->
  </body>
</html>
