body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background: #f4f7f6;
}
.sidebar {
  width: 250px;
  background: #333;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
}
.sidebar ul {
  padding: 0;
  list-style: none;
}
.sidebar ul li:hover {
  background-color: #212121;
  border-radius: 8px;
}
.sidebar ul a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 20px;
}
.chat-window {
  flex-grow: 1;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
}
.chat-header {
  background: #222;
  color: #fff;
  padding: 15px;
}
.chat-header h1 {
  margin: 0;
  font-size: 20px;
}
.chat-container {
  margin-bottom: 4rem;
}
.message {
  margin-bottom: 20px;
  line-height: 1.4;
}
.message-bot {
  background: #e7e7e7;
  padding: 10px;
  border-radius: 10px;
}
.message-user {
  /* display: grid; */
  text-align: right;
  padding: 10px;
  background-color: #2d9596;
  color: #fff;
  margin-top: 20px;
  width: fit-content;
  border-radius: 10px;
}
.message-user p {
  margin: 0;
}
.message-input {
  position: fixed;
  bottom: 0;
  left: 310px;
  width: calc(100% - 350px);
  padding: 10px;
  background: #f4f7f6;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.message-input input {
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
