body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background: #f4f7f6;
}

/** SIDEBAR */
.sidebar {
  min-width: 250px;
  /* background: #333; */
  background: #000;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
}
.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar ul a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar a {
  position: relative;
}

.sidebar .fas {
  color: #fff;
}

.icon-ok,
.icon-trash {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none; /* Hide icons by default */
}
.icon-button {
  /* padding: 0; */
  /* margin: 0; */
  background: transparent;
  border: none;
}
.icon-ok {
  right: 20px; /* Adjust this value based on your spacing needs */
}

.sidebar a:hover .icon-ok,
.sidebar a:hover .icon-trash,
.sidebar a:focus .icon-ok,
.sidebar a:focus .icon-trash {
  display: inline; /* Show icons on hover or focus */
}

/* Add a background change on hover/focus for the link */
.sidebar li:hover {
  background-color: #757575;
  border-radius: 8px;
}
.list2 {
  margin-top: 2rem;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
}
.list-item:focus-within {
  background-color: #757575;
  border-radius: 8px;
}
.list-item button {
  background: none;
  border: none;
  cursor: pointer;
}
.chat {
  display: flex;
  flex-direction: column;
  position: relative;
}
.chat-window {
  flex-grow: 1;
  background: #fff;
  padding: 20px 70px 60px;
  overflow-y: auto;
}
.chat-header {
  background: #222;
  color: #fff;
  padding: 15px;
}
.chat-header h1 {
  margin: 0;
  font-size: 20px;
}

.message {
  margin-bottom: 20px;
  line-height: 1.4;
}
.message-bot {
  background: #e7e7e7;
  padding: 10px;
  border-radius: 10px;
}
.message-user {
  /* display: grid; */
  text-align: right;
  padding: 10px;
  background-color: #2d9596;
  color: #fff;
  margin-top: 20px;
  width: fit-content;
  border-radius: 10px;
}
.message-user p {
  margin: 0;
}
.message-input {
  position: fixed;
  bottom: 0;
  left: 310px;
  width: calc(100% - 365px);
  padding: 10px;
  background: #f4f7f6;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.message-input input {
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.label {
  font-weight: 700;
}

.user-label {
  margin-top: 25px;
}

.bot-label {
  margin-top: 5px;
}

.message-box {
  display: flex;
  gap: 1rem;
}

.message-rating {
  display: flex;
  justify-content: flex-end;
}

.css-ii2owq {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  appearance: none;
  font-size: 1.3rem;
  padding: 8px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-ii2owq:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.rate-icon-button:focus,
.rate-icon-button:hover,
.sidebar-btn-toggle:hover,
.sidebar-btn-toggle:focus {
  outline: 1px solid rgba(0, 0, 0, 0.54) !important;
}

.sidebar-btn-toggle {
  display: block;
  position: fixed;
  top: 50vh;
  left: 294px !important;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.fa-angle-left {
  font-size: 2rem;
}

.scroll-container {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 50%;
  bottom: 5rem;
  transform: translateX(50%);
  z-index: 100;
}
.scroll-to {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.8rem;
  outline: 1px solid;
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.scroll-to:hover,
.scroll-to:focus {
  outline: 2px solid;
}
