h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav {
  background-color: #bdcdd6;

  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav .logo {
  margin-right: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

#skipLink a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 50%;
  color: white;
  border-radius: 1px solid white;
  background: #444;
  transition: top 0.5s ease-out;
  z-index: 100;
}

#skipLink a:focus {
  top: 0px;
  outline-color: transparent;
  transition: top 0.05s ease-in;
}

.header {
  margin-top: 8px;
  overflow: auto;
  text-align: center;
  background-color: darksalmon;
}

#section-one {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.section-one_content {
  background-color: antiquewhite;
  flex-grow: 1;
  padding: 1rem;
}

.section-one_content h3 {
  margin: 1rem 0;
}

.section-one_aside {
  width: 20%;
  padding: 1rem;
  background-color: aquamarine;
}

#section-two {
  height: 500px;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #bdcdd6;
}

.footer {
  height: 3rem;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: beige;
}
